* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}