* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 500px;
  width: 300px;
  background: #395151;
  border-radius: 5px;
  padding: 20px;
  color: white;
  border: 5px solid #4e9090;
  font-size: 24px;
  word-break: break-word;
  overflow: auto;
}